<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-google-ump"
        version="1.0.1">
	<name>Plugin for Google UMP SDK</name>
	<description>Cordova wrapper for Google UMP SDK.</description>
	<author>jellomaster</author>
	<license>MIT</license>
	<keywords>google,consent,sdk,admob,ads,ump,funding choices,User Messaging Platform,gdpr, ATT</keywords>
	<repo>https://github.com/jellomaster/cordova-plugin-google-ump</repo>
	<issue>https://github.com/jellomaster/cordova-plugin-google-ump/issues</issue>
    <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
	
	<!-- ios -->
	<platform name="ios">
		<js-module src="www/plugin.js" name="plugin">
			<runs />
			<clobbers target="Ump" />
		</js-module>

		<preference name="APP_ID" />
		<preference name="USAGE_DESC" default="This identifier will be used to deliver personalized ads to you." />

		<config-file target="config.xml" parent="/*">
			<feature name="Ump">
				<param name="ios-package" value="Ump" />
				<param name="onload" value="true" />
			</feature>
		</config-file>

		<config-file target="*-Info.plist" mode="merge">
			<key>GADApplicationIdentifier</key>
			<string>$APP_ID</string>
			<key>NSUserTrackingUsageDescription</key>
			<string>$USAGE_DESC</string>
		</config-file>

 		<source-file src="src/ios/Ump.swift" />

		<!-- Podfile -->
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true" inhibit-all-warnings="true">
                <pod name="GoogleUserMessagingPlatform"/>
            </pods>
        </podspec>

	</platform>
</plugin>
